* {
  /*
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid;
  border-color: #61dafb;
  margin: 1px; */

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  overflow: auto; */
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;

  background-image: url('../images/oot_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.primary-container {
  display: flex;
  flex-direction: column;
  background-color: rgba( 0, 0, 0, 0.7); 
  overflow: auto;
  margin: 1%;
  padding: 1%;

}

.central-container {
  display: flex;
  justify-content: space-between;
}

.map-tools {
  flex-basis: 20%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

}

.node-lookup-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.path-finder-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.path-finder-search-bars{
  display: flex;
  justify-content: space-between;
}

.path-finder-lower{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-of-paths-entry {
  display: flex;
  flex-direction: column;
}

.map-container {
  display: flex;
  flex-basis: 60%;
  flex-grow: 5;
  border: 2px solid;
  border-color: #61dafb;

  flex-direction: column;

}
.map-details {
  display: flex;
  flex-basis: 20%;
  flex-grow: 1;
  overflow: scroll;
}

.map-header {
  display: flex;
  /* background-color: lawngreen; */
  justify-content: space-evenly;

}

#map-window{
  border-top: 2px solid;
  border-color: bisque;
  display: flex;
  justify-content: center;
}

a:link {
  color: white;
}

a:visited {
  color: lightskyblue;
}

/* a:hover {

}

a:active {

} */

.item {
  width: 100px;
  height: 100px;
  background: lightblue;
  color: black;
  margin: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  margin-top:  -15px;
}

/* #version{

}

#seed-hash{

} */