body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;

  background-image: url('../images/oot_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* dark region in front of the background image */
.primary-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(8, 1fr)); 
  background-color: rgba( 0, 0, 0, 0.75); 
  margin: 1%;
  padding: 1%;
  gap: 5px;

}

.blank-space{
  grid-area: 1 / 1 / 2 / 2;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
  justify-content: center;
  text-align: center;
  font-size: small;
  max-height: fit-content;
  
}

.links {
  grid-area: 1 / 5 / 2 / 6;
  list-style-type: none;
}

.summary {
  grid-area: 2 / 1 / 3 / 6;

}

/* .generator-buttons {


} */

.map-tools {
  grid-area: 3 / 1 / 4 / 2;
}

.map-container {
  grid-area: 3 / 2 / 4 / 5;
}

.map-details { 
  grid-area: 3 / 5 / 4 / 6;
}

.instructions {
  grid-area: 4 / 1 / 5 / 6;
}



.upload-spoiler, .load-demo {

  padding: 2%;
  margin: 1%;
  justify-content: center;
  align-items: center;
  border: #61dafb 1px solid;
}

.upload-spoiler {
  grid-column: 1 / 2;
}

.load-demo {
  grid-column: 2 / 3;
}




.central-container {

}

.map-tools {
  flex-basis: 20%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

}

.node-lookup-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.path-finder-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.path-finder-search-bars{
  display: flex;
  justify-content: space-between;
}

.path-finder-lower{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-of-paths-entry {
  display: flex;
  flex-direction: column;
}

.map-container {
  display: flex;
  flex-basis: 60%;
  flex-grow: 5;
  border: 2px solid;
  border-color: #61dafb;

  flex-direction: column;

}
.map-details {
  display: flex;
  flex-basis: 20%;
  flex-grow: 1;
  overflow: scroll;
}

.map-header {
  display: flex;
  /* background-color: lawngreen; */
  justify-content: space-evenly;

}

#map-window{
  border-top: 2px solid;
  border-color: bisque;
  display: flex;
  justify-content: center;
}

.instructions {
  grid-column: 1 / 4;
}

.other-notes {
  grid-column: 1 / 4;
}

a:link {
  color: white;
}

a:visited {
  color: lightskyblue;
}

/* a:hover {

}

a:active {

} */

.item {
  width: 100px;
  height: 100px;
  background: lightblue;
  color: black;
  margin: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  margin-top:  -15px;
}

/* #version{

}

#seed-hash{

} */